<html>
<body style="margin:0px;padding:0px">
    <a height="300" width="340" class="twitter-timeline" data-dnt="true" data-chrome="nofooter" href="http://twitter.com/weatherchannel" data-widget-id="672156823827456001">Tweets by @@weatherchannel</a>
    <script src="https://platform.twitter.com/widgets.js"></script>
</body>
</html>